/* General Reset */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden; /* For the search icon creating a blank space on smartphones */
}



/* Top Bar */
.top-bar {
    background-color: #d1bea3;
    text-align: left;
    padding: 8px;
    font-size: 0.8em;
}



/* Main Header */
.main-header {
    display: flex;
    flex-wrap: wrap; /* For smartphones */
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Logo & Header */
.logo {
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
}

.logo img {
    width: 120px;
    margin-right: 15px;
}

.logo h1 {
    font-size: 1.5em;
    font-weight: bold;
    color: goldenrod;
    font-family: 'Playfair Display', serif;
}

/* Search Bar */
.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 10px;
    border: 3px solid #c9c7c7;
    width: 400px;
    font-size: 1.1em;
}

.search-bar button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
}

.search-bar button img {
    width: 40px;
    height: auto;
}

/* Contact Info */
.contact-info {
    font-size: 0.85em;
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact-info img {
    width: 25px;
    height: auto;
}

/* Icons */
.icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icons a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: black;
    font-size: 0.85em;
}

.icons img {
    width: 25px;
    height: auto;
}



/* Navigation Bar */
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 1em;
}

.navbar ul {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    gap: 0.6em;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #e0e0e0;
}

/* For Mobile Responsive Navbar */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
        gap: 0.8em;
    }
}



/* Banner Section */
.banner-section {
    background-image: url('images/main-banner.jpg');
    background-size: cover; /* To cover the whole section */
    background-position: center; /* To see star of David */
    height: 70vh;
    display: flex;
    align-items: center;
}

.banner-content {
    margin-left: 50px;
    line-height: 2;
}

.banner-content h2 {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.banner-content p {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 30px;
}

.banner-buttons {
    display: flex;
    gap: 15px;
}

.banner-buttons .btn {
    padding: 10px 20px;
    text-decoration: none;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.banner-buttons .btn:hover {
    background-color: #434242;
}



/* Welcome Section */
.welcome-section {
    padding: 40px 20px;
    text-align: center;
}

.welcome-container {
    max-width: 900px;
    margin: 0 auto;
}

.welcome-content h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #313131;
}

.welcome-content p {
    font-size: 1em;
    line-height: 1.7;
    color: #6a6969;
}



/* Features Section */
.features-section {
    padding: 20px 50px;
}

.features-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.feature-item {
    display: flex;
    align-items: center; /* Adapt the icons */
    gap: 10px;
    max-width: 250px;
}

.feature-item img {
    width: 40px;
}

.feature-item p {
    font-size: 0.9em;
    color: #353434;
    font-weight: bold;
}



/* New Arrivals Section */
.new-arrivals-section {
    padding: 40px 20px;
    text-align: center;
}

.new-arrivals-header h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #303030;
}

.new-arrivals-header .underline {
    width: 60px;
    height: 4px;
    background-color: #f39200;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* Products Container */
.new-arrivals-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-item {
    text-decoration: none;
    color: #343333;
    border: 2px solid #d6d3d3fb;
    border-radius: 8px;
    padding: 15px;
    max-width: 180px;
    transition: box-shadow 0.3s ease;
}

.product-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-item img {
    width: 100%;
    margin-bottom: 10px;
}

.product-item h3 {
    font-size: 1em;
    margin-bottom: 5px;
}

.price {
    font-size: 0.9em;
    margin: 0; /* Bring the price closer to the product name */
}

.current-price {
    color: #f39200;
    font-weight: bold;
}

.original-price {
    text-decoration: line-through;
    color: #9d9b9b;
    font-size: 0.8em;
}

@media screen and (max-width: 768px) {
    .product-item {
        max-width: 240px; /* To fit only one product in a row for smartphones */
    }
}



/* Categories Section */
.categories-section {
    padding: 40px 20px;
    text-align: center;
}

.categories-header h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #303030;
}

.categories-header .underline {
    width: 60px;
    height: 4px;
    background-color: #f39200;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* Categories Container */
.categories-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.category-item {
    background-color: #f9f9f9;
    border: 2px solid #d9d7d7fb;
    border-radius: 8px;
    padding: 20px;
    max-width: 280px;
    flex: 1; /* To make the category-items flexible for responsiveness */
}

.category-item img {
    width: 220px;
    height: 150px;
    margin-bottom: 15px;
}

.category-item h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #303030;
}

.category-item .btn {
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #f39200;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

.category-item .btn:hover {
    background-color: #d17c00;
}

.category-item ul {
    padding: 0;
    margin-left: 10px;
    text-align: left;
}

.category-item ul li {
    font-size: 0.9em;
    margin-bottom: 5px;
    color: #535050;
}



/* Reviews Section */
.reviews-section {
    padding-top: 50px;
    padding-bottom: 60px;
    background-color: #f9f9f9;
    text-align: center;
}

.reviews-header h2 {
    font-size: 2em;
    color: #323131;
    margin-bottom: 10px;
}

.reviews-header .underline {
    width: 60px;
    height: 4px;
    background-color: #f39200;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* Reviews Container */
.reviews-container {
    display: flex;
    flex-wrap: wrap; /* For smartphones */
    gap: 20px;
    justify-content: center;
}

.review-item {
    border: 1px solid #dad8d8;
    border-radius: 8px;
    padding: 20px;
    max-width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.review-item:hover {
    transform: translateY(-5px);
}

.review-stars {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.review-item h3 {
    font-size: 1.1em;
    color: #313030;
    margin-bottom: 10px;
}

.review-item p {
    font-size: 0.9em;
    color: #555;
    line-height: 1.5;
}

.review-author {
    font-size: 0.9em;
    font-style: italic;
    color: #908e8e;
    margin-top: 10px;
}



/* Footer Section */
.footer-section {
    background-color: #f5f5f5;
    color: #2e2e2e;
}

.newsletter-section {
    padding: 70px 20px;
    background-color: #50515A;
    color: white;
}

/* Newsletter Container */
.newsletter-container {
    display: flex;
    gap: 70px;
    align-items: center;
    max-width: 1150px;
    margin: 0 auto;
}

/* Newsletter Text */
.newsletter-text {
    flex: 1; /* To make the text flexible for smartphones */
}

.newsletter-text h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.newsletter-text p {
    font-size: 1em;
    margin-bottom: 20px;
    line-height: 1.5;
}

.social-links {
    display: flex;
    gap: 25px;
}

.social-links a {
    display: flex;
    align-items: center; /* Adapt the icons */
    color: white;
    font-size: 0.9em;
}

.social-links a img {
    width: 20px;
    margin-right: 5px;
}

/* Newsletter Form */
.newsletter-form {
    flex: 1;
}

.newsletter-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.newsletter-form input[type="email"] {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

.newsletter-form button {
    padding: 10px;
    width: 100%;
    border: none;
    background-color: #f39200;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.newsletter-form label {
    display: flex;
    align-items: flex-start; /* To align the checkbox with the text */
    font-size: 0.8em;
    color: #cac6c6;
    gap: 10px; 
}

.newsletter-form label span {
    line-height: 1.5;
}

.newsletter-form label a {
    color: #f39200;
}

/* Footer Container */
.footer-container {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Space between for smartphones */
    justify-items: center;
}

/* Store Info */
.store-info, .store-hours {
    text-align: left;
    max-width: 250px;
}

.store-info h3, .store-hours h3 {
    font-size: 1.2em;
}

.store-info p {
    font-size: 0.9em;
    line-height: 1.6;
}

/* Store Hours */
.store-hours table {
    width: 300px;
    height: 200px;
    border-collapse: collapse;
}

.store-hours table td {
    padding: 5px;
}

.store-hours table tr:nth-child(odd) {
    background-color: #dad7d7;
}

.store-hours table tr:nth-child(even) {
    background-color: white;
}

.store-hours table td.closed {
    color: #878787;
    font-weight: bold;
}

/* Store Location */
.store-location {
    text-align: left;
    max-width: 250px;
    margin: 0 auto;
}

.store-location h3 {
    font-size: 1.5em;
    color: #f39200;
}

.store-map img {
    width: 100%;
    max-width: 300px;
}

.store-map iframe {
    width: 100%;
    height: 250px;
    border: none;
    border-radius: 8px;
    margin-bottom: 15px;
}

.directions-btn-container {
    text-align: center;
    margin-top: 10px;
}

.directions-btn {
    display: inline-block;
    padding: 12px 20px;
    font-size: 1em;
    background-color: #f39200;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

.directions-btn:hover {
    background-color: #d17c00;
}

/* Payment Icons */
.payment-icons {
    text-align: center;
    margin-top: 20px;
}

.payment-icons img {
    width: 100%;
    max-width: 400px;
}

/* Footer Copyright */
.footer-copyright {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #eaeaea;
    font-size: 0.9em;
    color: #676565;
}

.footer-copyright p {
    margin: 0; /* Remove the default margin */
}

/* For Mobile Responsive Footer */
@media (max-width: 768px) {
    .footer-container {
        grid-template-columns: 1fr;
    }

    .store-info, .store-hours, .store-location {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .store-info {
        margin-left: 50px;
    }

    .store-map iframe {
        width: 100%;
        height: 200px;
    }

    .directions-btn {
        width: 100%;
    }
}